@model WedsiteBanHang.Context.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Xóa Sản Phẩm</h2>

  
    <div>
     
        <hr />
        <dl class="dl-horizontal">
            <dt>

                <label>Tên sản phẩm</label>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <label>Hình ảnh</label>
                @*@Html.DisplayNameFor(model => model.Avatar)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>

            <dt>
                <label>Loại sản phẩm</label>
                @*@Html.DisplayNameFor(model => model.Category)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                <label>Mô tả ngắn</label>
                @*@Html.DisplayNameFor(model => model.ShortDes)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDes)
            </dd>

            <dt>
                <label>Mô tả đầy đủ</label>
                @*@Html.DisplayNameFor(model => model.FullDexciption)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullDexciption)
            </dd>

            <dt>
                <label>Giá</label>
                @*@Html.DisplayNameFor(model => model.Price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                <label>Giá giảm</label>
                @*@Html.DisplayNameFor(model => model.PiceDiscount)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PiceDiscount)
            </dd>

            <dt>
                <label>Kiểu</label>
                @*@Html.DisplayNameFor(model => model.Typeld)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Typeld)
            </dd>

            <dt>
                <label>Kiểu loại</label>
                @*@Html.DisplayNameFor(model => model.Slug)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                <label>Thương hiệu</label>
                @*@Html.DisplayNameFor(model => model.BrandId)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrandId)
            </dd>

        </dl>

        @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại Trang Chủ", "Index")
            </div>
            }
        
    </div>
        
</div>