@model WedsiteBanHang.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Chi tiết sản phẩm</h2>

    <div>
        <h4>Sản Phẩm</h4>
        <hr />
        <dl class="dl-horizontal">
            <div class="col-md-6 text-right">
                @*<a href="@Url.Action("Edit","Product",new { id = Model.Id })" class="btn btn-sm btn-success"><i class="fa-solid fa-pen-to-square"></i></a>*@

            </div>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullDexciption)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullDexciption)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PiceDiscount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PiceDiscount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Typeld)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Typeld)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Slug)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Slug)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrandId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrandId)
            </dd>

        </dl>
    </div>
    <p>

        }
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
