{@model IEnumerable<WedsiteBanHang.Context.Product>

@{
    ViewBag.Title = "Quản lí sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h2>Quản lí sản phẩm</h2>

    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
        <p>
    Tìm tên sản phẩm:@Html.TextBox("SearchString",ViewBag.CurrentFilter as String)
            <input type="submit" value="Tìm kiếm" />
        </p>
             
            }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullDexciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PiceDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typeld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avatar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullDexciption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PiceDiscount)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Typeld)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>