@using PagedList;
@using PagedList.Mvc;
{@model PagedList.IPagedList<WedsiteBanHang.Context.Brand>
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <h2>Thương Hiệu</h2>

    <style>
        /* Set the style for the a tag */
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #29c9d4;
        }
            /* set the style for the active class */
            .pagination a.active {
                background-color: dodgerblu;
                color: white;
                display: inline-block;
                width: 40px;
                height: 48px;
                border: 1px solid #ffb600;
            }
            /* add background color when user hovers on inactive class */
            .pagination a:hover:not(.active) {
                background-color: #4cff00;
                display: inline-block;
                width: 40px;
                height: 48px;
                border: 1px solid #00ffff;
            }
    </style>
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    </p>
    @using (Html.BeginForm("Index", "Brand", FormMethod.Get))
    {
        <p>
            Tìm tên sản phẩm:@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Tìm kiếm" />
        </p>

    }
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
            <tr>
                <th class="text-center" style="width:20px;">
                    Tên sản phẩm
                </th>
                <th class="text-center" style="width:20px;">
                    Hình ảnh
                </th>
                <th class="text-center" style="width:20px;">
                    Loại sản phẩm
                </th>
                <th class="text-center" style="width:20px;">
                    Hiện Trên Trang Chủ
                </th>
                <th class="text-center" style="width:20px;">
                    Thứ tự hiển thị
                </th>
                <th class="text-center" style="width:20px;">
                    Ngày tạo
                </th>
                <th class="text-center" style="width:20px;">
                    Ngày cập nhật
                </th>
                <th class="text-center" style="width:20px;">
                    Xóa
                </th>

                <th class="text-center" style="width:180px;">Chức năng</th>
                @*<th class="text-center" style="width:20px;">ID</th>*@
            </tr>

        </thead>
        @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ShowOnHomePage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().DisplayOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedOnUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UpdatedOnUtc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deleted)
                </th>
                <th></th>
            </tr>*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/Content/images/items/@Html.DisplayFor(modelItem => item.Avatar)" style="width:100px;height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShowOnHomePage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    <a href="@Url.Action("Edit","Brand",new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-edit text-white"></i></a>
                    <a href="@Url.Action("Details","Brand",new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-eye text-white"></i></a>
                    <a href="@Url.Action("Delete","Brand",new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-trash-alt text-white"></i></a>

                </td>
            </tr>
        }

    </table>


    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))
</div>